<div class="post">
  <div class="d-flex justify-content-between">
    
    <div class="d-flex left">
      <h4><%= post.user.name %></h4>
      <strong>- ID: <%= post.id %></strong>
      <span class="ms-2">(<%= post.created_at.strftime("%Y/%m/%d %H:%M:%S") %>)</span>
    </div>
    <div class="right">
      <% if current_user && post.user == current_user %>
        <%= link_to 'Edit', '#', class: 'btn btn-secondary edit-post-link', data: { post_id: post.id } %>
        <%= link_to "Delete", post_path(post), method: :delete, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
  <h2><%= post.title %></h2>
  <p><%= post.content %></p>

  <div class="action">
    <button type="button"
      class="
        btn
        like-button
        <% if post.likes.exists?(user: current_user) %> btn-outline-primary <% else %> btn-outline-secondary <% end %>
      "
      data-href="<%= post_likes_path(post_id: post.id) %>"
      data-post-id="<%= post.id %>"
    >
      <i class="fa-regular fa-thumbs-up"></i>
      <span class="like-count"><%= post.likes.count %></span>
      Like
    </button>
  </div>

  <div class="comment mt-3">
    <h5>Comment</h5>
    <ul id="comment-list-<%= post.id %>" class="comment-list">
      <% post.comments.each do |comment| %>
        <li>
          <span class="fw-bold d-inline-block"><%= comment.user.name %></span>: <%= comment.content %>
        </li>
      <% end %>
    </ul>
    <div class="mt-2">
      <%= form_with(
        model: [ post, Comment.new ],
        local: true,
        remote: true,
        id: "comment-form_#{post.id}",
        class: "comment-form",
        data: { post_id: post.id } ) do |form|
      %>
        <div class="form-floating">
          <textarea class="form-control" name="comment[content]" placeholder="Leave a comment here" id="comment_content_<%= post.id %>"></textarea>
          <label for="comment_content_<%= post.id %>">Enter your comment</label>
        </div>
        <div class="mt-2">
          <%= form.submit 'Submit' %>
        </div>
      <% end %>
    </div>
  </div>
</div>